<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLSHOPConnectionString" connectionString="Data Source=LAPTOP-S5FI7AHK\SQLEXPRESS12;Initial Catalog=QLSHOP;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QLSHOPConnectionString1" connectionString="Data Source=LAPTOP-S5FI7AHK\SQLEXPRESS12;Initial Catalog=QLSHOP;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>